<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fourfaith.statisticAnalysis.dao.DistWaterPlanInfoMapper">
	<resultMap id="BaseResultMap" type="com.fourfaith.statisticAnalysis.model.RptBaseDistWaterDetail">
		<id column="Id" property="id" jdbcType="CHAR" />
		<result column="DistType" property="distType" jdbcType="INTEGER" />
		<result column="DistMode" property="distMode" jdbcType="INTEGER" />
		<result column="DistYear" property="distYear" jdbcType="INTEGER" />
		<result column="DistRound" property="distRound" jdbcType="INTEGER" />
		<result column="DistWater" property="distWater" jdbcType="DECIMAL" />
		<result column="DistRatio" property="distRatio" jdbcType="INTEGER" />
		<result column="DistPrice" property="distPrice" jdbcType="DECIMAL" />
		<result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
		<result column="EditTime" property="editTime" jdbcType="TIMESTAMP" />
		<result column="BaseDeviceId" property="baseDeviceId" jdbcType="VARCHAR" />
		<result column="Operator" property="operator" jdbcType="VARCHAR" />
		<result column="IsAppendWater" property="isAppendWater" jdbcType="INTEGER" />
		<result column="WellUse" property="wellUse" jdbcType="VARCHAR" />
		<result column="WaterAreaId" property="waterAreaId" jdbcType="VARCHAR" />
		<result column="DeviceName" property="deviceName" jdbcType="VARCHAR" />
		<result column="UserName" property="userName" jdbcType="VARCHAR" />
		<result column="WaterAreaName" property="waterAreaName" jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- 获取配水列表信息 -->
	<select id="getList" resultMap="BaseResultMap" parameterType="map">
		select distinct dwp.*,bdwdi.BaseDeviceId as baseDeviceId ,info.*,su.UserName as userName, swa.WaterAreaName
		from BaseDistWaterPlan dwp
		left join BaseDistWaterPlanDevice bdwdi on dwp.Id = bdwdi.BaseDistWaterId
		left join SysWaterArea swa on dwp.WaterAreaId = swa.Id
		left join SysUser su on bdwdi.UserId = su.Id
		left join BaseDeviceExpandInfo info on info.DeviceId = baseDeviceId
		where 1=1 and IsAppendWater = 0 
		<if test="waterAreaIdsList != null and waterAreaIdsList.size()>0">
			and dwp.WaterAreaId in
			 <foreach collection="waterAreaIdsList" item="item" index="index" open="(" separator="," close=")">
	    		#{item}
	        </foreach>
		</if>
		<if test="wellUse != null">
			and dwp.wellUse = #{wellUse}
		</if>
		<if test="distYearStart != null">
			and distYear &gt;= #{distYearStart}
		</if>
		<if test="distYearEnd">
			and distYear &lt;= #{distYearEnd}
		</if>
		ORDER BY dwp.CreateTime DESC
		<if test="pageStart!= null and pageEnd!= null">
			limit ${pageStart},${pageEnd}
		</if>
	</select>
	
	<!-- 获取配水条数 -->
	<select id="getCount" resultType="java.lang.Integer" parameterType="map">
		select count(distinct dwp.id) from BaseDistWaterPlan dwp
		left join BaseDistWaterPlanDevice bdwdi on dwp.Id = bdwdi.BaseDistWaterId
		left join SysUser su on bdwdi.UserId = su.Id
		where 1=1 and IsAppendWater = 0 
		<if test="waterAreaIdsList != null and waterAreaIdsList.size()>0">
			and dwp.WaterAreaId in
			 <foreach collection="waterAreaIdsList" item="item" index="index" open="(" separator="," close=")">
	    		#{item}
	        </foreach>
		</if>
		<if test="wellUse != null">
			and wellUse = #{wellUse}
		</if>
		<if test="distYearStart != null">
			and distYear &gt;= #{distYearStart}
		</if>
		<if test="distYearEnd">
			and distYear &lt;= #{distYearEnd}
		</if>
	</select>
	
	<select id="determineWater" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT 
		  bp.id,bp.DistWater ,bp.DistPrice 
		FROM
		  basedistwaterplan bp
		  LEFT JOIN basedistwaterplandevice bpd 
		    ON bp.Id = bpd.BaseDistWaterId 
		  LEFT JOIN basedeviceinfo bd 
		    ON bpd.BaseDeviceId = bd.Id 
		WHERE 1=1
		<if test="deviceCode">
			 and  bd.DeviceCode = #{deviceCode} 
	  	</if>
	  	<if test="chargeXl">
			  AND bp.DistYear = #{chargeXl} 
	  	</if>
		<if test="chargeSl">
			 AND bp.DistRound = #{chargeSl}
	  	</if>
		 <if test="type">
			 AND bp.DistType = #{type}
	  	</if>
	</select>
	
	<select id="selectBasePlayId" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT p.* FROM basedistwaterplan p LEFT JOIN basedistwaterplandevice d ON p.Id = d.BaseDistWaterId where 1=1
		<if test="deviceId!=null and deviceId!=''">
			and d.BaseDeviceId = #{deviceId}
		</if>
	</select>
</mapper>







