<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fourfaith.statisticAnalysis.dao.IndustrialdeviceMapper" >
  <resultMap id="BaseResultMap" type="com.fourfaith.statisticAnalysis.model.IndustrialDevice" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="DeviceName" property="devicename" jdbcType="VARCHAR" />
    <result column="DeviceCode" property="devicecode" jdbcType="VARCHAR" />
    <result column="DevicePort" property="deviceport" jdbcType="VARCHAR" />
    <result column="InstantFlow" property="instantflow" jdbcType="VARCHAR" />
    <result column="InstantSpeed" property="instantspeed" jdbcType="VARCHAR" />
    <result column="FlowPercent" property="flowpercent" jdbcType="VARCHAR" />
    <result column="RatioPercent" property="ratiopercent" jdbcType="VARCHAR" />
    <result column="PositiveTotal" property="positivetotal" jdbcType="VARCHAR" />
    <result column="ReverseTotal" property="reversetotal" jdbcType="VARCHAR" />
    <result column="BackOne" property="backone" jdbcType="VARCHAR" />
    <result column="BackTwo" property="backtwo" jdbcType="VARCHAR" />
    <result column="BackThree" property="backthree" jdbcType="VARCHAR" />
    <result column="BackFour" property="backfour" jdbcType="VARCHAR" />
    <result column="BackFive" property="backfive" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >

    Id, DeviceName, DeviceCode, DevicePort, InstantFlow, InstantSpeed, FlowPercent, RatioPercent, 
    PositiveTotal, ReverseTotal, BackOne, BackTwo, BackThree, BackFour, BackFive, CreateTime
  </sql>

 <!-- 查询工业机井的动态或历史数据-->
  <select id="selectByPrimaryKey" resultType="com.fourfaith.statisticAnalysis.model.IndustrialDevice" parameterType="map" >
    select tb.Id,tb.InstantFlow, tb.InstantSpeed,tb.BackOne,tb.BackTwo, tb.FlowPercent, tb.RatioPercent,
    tb.PositiveTotal, tb.ReverseTotal,tb.CreateTime,DATE_FORMAT(tb.CreateTime,'%Y/%m/%d/ %H:%i') as upTime,bs.Id as ids,bs.DeviceCode as DeviceCode,bs.DeviceName as DeviceName,bs.DevicePort as DevicePort
    from ${table} tb right join industrialbase bs on tb.DevicePort = bs.DevicePort where 1=1
    <if test="deviceName!=null and deviceName!=''">
      and bs.DeviceName like '%${deviceName}%'
    </if>
    <if test="backtwo!=null and backtwo!=''">
      and tb.BackTwo  = #{backtwo}
    </if>
    <if test="deviceport!=null and deviceport!=''">
      and tb.DevicePort = #{deviceport}
    </if>
    <if test="startTime!=null and endTime!=''">
      and tb.CreateTime between #{startTime} and #{endTime}
    </if>
      order by bs.DeviceName desc
  </select>
  <!--修改工业机井的设备名称-->
  <update id="updateByKeyName" parameterType="java.lang.String">
        update industrialbase set DeviceName = #{deviceName} where Id = #{ids}
  </update>
  <!--修改工业机井实时数据的设备状态-->
  <update id="updateByKeyNameState" parameterType="java.lang.String">
        update industrialdevice_current set BackTwo = #{state} where DevicePort = #{devicePort}
  </update>
  <!-- 查询工业机井的统计历史数据-->
  <select id="selectHistoryList" parameterType="map" resultType="com.fourfaith.statisticAnalysis.model.IndustrialDevice">
    SELECT b.Id,b.DeviceName as DeviceName,b.DeviceCode as DeviceCode,b.DevicePort as DevicePort,(case when MAX(PositiveTotal) is null then 0 else MAX(PositiveTotal) end) as maxPosite,(case when MIN(PositiveTotal) is null then 0 else MIN(PositiveTotal) end) as minPosite,(case when MAX(PositiveTotal)- MIN(PositiveTotal) is null then 0 else MAX(PositiveTotal)- MIN(PositiveTotal) end  ) as positry,MAX(d.CreateTime) as createtime FROM industrialbase b
    LEFT JOIN industrialdevice d ON b.DevicePort = d.DevicePort  where 1=1
    <if test="deviceName!=null and deviceName!=''">
      and b.DeviceName like '%${deviceName}%'
    </if>
    <if test="startTime!=null and endTime!=''">
      and d.CreateTime between #{startTime} and #{endTime}
    </if>
    GROUP BY b.DeviceName
    ORDER BY b.DeviceName DESC
  </select>

  <!-- 导出工业机井的统计历史数据-->
  <select id="selectHistoryListExcel" parameterType="map" resultType="com.fourfaith.statisticAnalysis.model.IndustrialDeviceExvoit">
    SELECT b.Id,b.DeviceName as DeviceName,b.DeviceCode as DeviceCode,b.DevicePort as DevicePort,MAX(PositiveTotal) as maxPosite,MIN(PositiveTotal) as minPosite,MAX(PositiveTotal)- MIN(PositiveTotal) as positry,MAX(d.CreateTime) as createtime
    FROM industrialbase b LEFT JOIN industrialdevice d ON b.DevicePort = d.DevicePort  where 1=1
    <if test="deviceName!=null and deviceName!=''">
      and b.DeviceName like '%${deviceName}%'
    </if>
    <if test="startTime!=null and endTime!=''">
      and d.CreateTime between #{startTime} and #{endTime}
    </if>
    GROUP BY b.DeviceName
    ORDER BY b.DeviceName DESC
  </select>

  <!--查询工业机井的累计数据-->
  <select id="findWaterTotal" parameterType="map" resultType="com.fourfaith.statisticAnalysis.model.IndustrialDevice">
        SELECT SUM(d.positry) as positry FROM (SELECT MAX(PositiveTotal)- MIN(PositiveTotal) AS positry
    FROM industrialbase b LEFT JOIN industrialdevice d ON b.DevicePort = d.DevicePort where 1=1
    <if test="startTime!=null and endTime!=''">
      and d.CreateTime between #{startTime} and #{endTime}
    </if>
    GROUP BY b.DeviceName) d
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from industrialdevice
    where Id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.fourfaith.statisticAnalysis.model.IndustrialDevice" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into industrialdevice (Id, DeviceName, DeviceCode, 
      DevicePort, InstantFlow, InstantSpeed, 
      FlowPercent, RatioPercent, PositiveTotal, 
      ReverseTotal, BackOne, BackTwo, 
      BackThree, BackFour, BackFive, 
      CreateTime)
    values (#{id,jdbcType=INTEGER}, #{devicename,jdbcType=VARCHAR}, #{devicecode,jdbcType=VARCHAR}, 
      #{deviceport,jdbcType=VARCHAR}, #{instantflow,jdbcType=VARCHAR}, #{instantspeed,jdbcType=VARCHAR}, 
      #{flowpercent,jdbcType=VARCHAR}, #{ratiopercent,jdbcType=VARCHAR}, #{positivetotal,jdbcType=VARCHAR}, 
      #{reversetotal,jdbcType=VARCHAR}, #{backone,jdbcType=VARCHAR}, #{backtwo,jdbcType=VARCHAR}, 
      #{backthree,jdbcType=VARCHAR}, #{backfour,jdbcType=VARCHAR}, #{backfive,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fourfaith.statisticAnalysis.model.IndustrialDevice" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into industrialdevice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="devicename != null" >
        DeviceName,
      </if>
      <if test="devicecode != null" >
        DeviceCode,
      </if>
      <if test="deviceport != null" >
        DevicePort,
      </if>
      <if test="instantflow != null" >
        InstantFlow,
      </if>
      <if test="instantspeed != null" >
        InstantSpeed,
      </if>
      <if test="flowpercent != null" >
        FlowPercent,
      </if>
      <if test="ratiopercent != null" >
        RatioPercent,
      </if>
      <if test="positivetotal != null" >
        PositiveTotal,
      </if>
      <if test="reversetotal != null" >
        ReverseTotal,
      </if>
      <if test="backone != null" >
        BackOne,
      </if>
      <if test="backtwo != null" >
        BackTwo,
      </if>
      <if test="backthree != null" >
        BackThree,
      </if>
      <if test="backfour != null" >
        BackFour,
      </if>
      <if test="backfive != null" >
        BackFive,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="devicename != null" >
        #{devicename,jdbcType=VARCHAR},
      </if>
      <if test="devicecode != null" >
        #{devicecode,jdbcType=VARCHAR},
      </if>
      <if test="deviceport != null" >
        #{deviceport,jdbcType=VARCHAR},
      </if>
      <if test="instantflow != null" >
        #{instantflow,jdbcType=VARCHAR},
      </if>
      <if test="instantspeed != null" >
        #{instantspeed,jdbcType=VARCHAR},
      </if>
      <if test="flowpercent != null" >
        #{flowpercent,jdbcType=VARCHAR},
      </if>
      <if test="ratiopercent != null" >
        #{ratiopercent,jdbcType=VARCHAR},
      </if>
      <if test="positivetotal != null" >
        #{positivetotal,jdbcType=VARCHAR},
      </if>
      <if test="reversetotal != null" >
        #{reversetotal,jdbcType=VARCHAR},
      </if>
      <if test="backone != null" >
        #{backone,jdbcType=VARCHAR},
      </if>
      <if test="backtwo != null" >
        #{backtwo,jdbcType=VARCHAR},
      </if>
      <if test="backthree != null" >
        #{backthree,jdbcType=VARCHAR},
      </if>
      <if test="backfour != null" >
        #{backfour,jdbcType=VARCHAR},
      </if>
      <if test="backfive != null" >
        #{backfive,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.fourfaith.statisticAnalysis.model.IndustrialDevice" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update industrialdevice_current
    <set >
      <if test="devicename != null" >
        DeviceName = #{devicename,jdbcType=VARCHAR},
      </if>
      <if test="devicecode != null" >
        DeviceCode = #{devicecode,jdbcType=VARCHAR},
      </if>
      <if test="deviceport != null" >
        DevicePort = #{deviceport,jdbcType=VARCHAR},
      </if>
      <if test="instantflow != null" >
        InstantFlow = #{instantflow,jdbcType=VARCHAR},
      </if>
      <if test="instantspeed != null" >
        InstantSpeed = #{instantspeed,jdbcType=VARCHAR},
      </if>
      <if test="flowpercent != null" >
        FlowPercent = #{flowpercent,jdbcType=VARCHAR},
      </if>
      <if test="ratiopercent != null" >
        RatioPercent = #{ratiopercent,jdbcType=VARCHAR},
      </if>
      <if test="positivetotal != null" >
        PositiveTotal = #{positivetotal,jdbcType=VARCHAR},
      </if>
      <if test="reversetotal != null" >
        ReverseTotal = #{reversetotal,jdbcType=VARCHAR},
      </if>
      <if test="backone != null" >
        BackOne = #{backone,jdbcType=VARCHAR},
      </if>
      <if test="backtwo != null" >
        BackTwo = #{backtwo,jdbcType=VARCHAR},
      </if>
      <if test="backthree != null" >
        BackThree = #{backthree,jdbcType=VARCHAR},
      </if>
      <if test="backfour != null" >
        BackFour = #{backfour,jdbcType=VARCHAR},
      </if>
      <if test="backfive != null" >
        BackFive = #{backfive,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fourfaith.statisticAnalysis.model.IndustrialDevice" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update industrialdevice
    set DeviceName = #{devicename,jdbcType=VARCHAR},
      DeviceCode = #{devicecode,jdbcType=VARCHAR},
      DevicePort = #{deviceport,jdbcType=VARCHAR},
      InstantFlow = #{instantflow,jdbcType=VARCHAR},
      InstantSpeed = #{instantspeed,jdbcType=VARCHAR},
      FlowPercent = #{flowpercent,jdbcType=VARCHAR},
      RatioPercent = #{ratiopercent,jdbcType=VARCHAR},
      PositiveTotal = #{positivetotal,jdbcType=VARCHAR},
      ReverseTotal = #{reversetotal,jdbcType=VARCHAR},
      BackOne = #{backone,jdbcType=VARCHAR},
      BackTwo = #{backtwo,jdbcType=VARCHAR},
      BackThree = #{backthree,jdbcType=VARCHAR},
      BackFour = #{backfour,jdbcType=VARCHAR},
      BackFive = #{backfive,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>