<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fourfaith.basicInformation.dao.SysDeviceModelMapper">
	<resultMap id="BaseResultMap" type="com.fourfaith.basicInformation.model.SysDeviceModel">
		<id column="Id" property="id" jdbcType="CHAR" />
		<result column="DeviceModel" property="deviceModel" jdbcType="VARCHAR" />
		<result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
		<result column="EditTime" property="editTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<!-- 基础信息列 -->
	<sql id="Base_Column_List">
		Id, DeviceModel, CreateTime, EditTime
	</sql>
	
	<!-- 信息统计 -->
	<select id="getCount" resultType="java.lang.Integer" parameterType="map">
		SELECT count(*) FROM SysDeviceModel
		where 1=1
	</select>

	<!-- 设备型号列表 -->
	<select id="getList" resultMap="BaseResultMap" parameterType="map">
		SELECT * FROM SysDeviceModel
		where 1=1
		order by EditTime desc
		<if test="pageStart!= null and pageEnd!= null">
			limit ${pageStart},${pageEnd}
		</if>
	</select>
	
	<!-- 新增信息 -->
	<insert id="insertSelective" parameterType="com.fourfaith.basicInformation.model.SysDeviceModel">
		insert into SysDeviceModel
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				Id,
			</if>
			<if test="deviceModel != null">
				DeviceModel,
			</if>
			<if test="createTime != null">
				CreateTime,
			</if>
			<if test="editTime != null">
				EditTime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="deviceModel != null">
				#{deviceModel,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="editTime != null">
				#{editTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	
	<!-- 根据主键查询 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from SysDeviceModel
		where Id = #{id,jdbcType=CHAR}
	</select>
	
	<!-- 根据主键删除 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from SysDeviceModel
		where Id = #{id,jdbcType=VARCHAR}
	</delete>
	
	<!-- 根据主键更新非空信息 -->
	<update id="updateByPrimaryKeySelective" parameterType="com.fourfaith.basicInformation.model.SysDeviceModel">
		update SysDeviceModel
		<set>
			DeviceModel = #{deviceModel,jdbcType=VARCHAR},
			<if test="editTime != null">
				editTime = #{editTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where Id = #{id,jdbcType=CHAR}
	</update>
	
	<!-- 机井设备型号名新增唯一性校验 -->
	<select id="uniqueAddSelectTive" parameterType="com.fourfaith.basicInformation.model.SysDeviceModel" resultType="com.fourfaith.basicInformation.model.SysDeviceModel">
		select * from SysDeviceModel where DeviceModel = #{deviceModel}
	</select>
	
	<!-- 机井设备型号名修改唯一性校验 -->
	<select id="uniqueUpdateSelectTive" parameterType="com.fourfaith.basicInformation.model.SysDeviceModel" resultType="com.fourfaith.basicInformation.model.SysDeviceModel">
		select * from SysDeviceModel where DeviceModel = #{deviceModel} and Id != #{id}
	</select>
	
</mapper>