<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fourfaith.sysManage.dao.SysUserRoleMapper">
	
	<resultMap id="BaseResultMap" type="com.fourfaith.sysManage.model.SysUserRole">
		<id column="Id" property="id" jdbcType="VARCHAR" />
		<result column="userId" property="userId" jdbcType="VARCHAR" />
		<result column="roleId" property="roleId" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="Base_Column_List">
		Id, userId, roleId
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from SysUserRole
		where Id = #{id,jdbcType=VARCHAR}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from SysUserRole
		where Id = #{id,jdbcType=VARCHAR}
	</delete>
	
	<insert id="insert" parameterType="com.fourfaith.sysManage.model.SysUserRole">
		insert into SysUserRole (Id, userId, roleId)
		values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR},
		#{roleId,jdbcType=VARCHAR})
	</insert>
	
	<insert id="insertSelective" parameterType="com.fourfaith.sysManage.model.SysUserRole">
		insert into SysUserRole
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				Id,
			</if>
			<if test="userId != null">
				userId,
			</if>
			<if test="roleId != null">
				roleId,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=VARCHAR},
			</if>
			<if test="roleId != null">
				#{roleId,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.fourfaith.sysManage.model.SysUserRole">
		update SysUserRole
		<set>
			<if test="userId != null">
				userId = #{userId,jdbcType=VARCHAR},
			</if>
			<if test="roleId != null">
				roleId = #{roleId,jdbcType=VARCHAR},
			</if>
		</set>
		where Id = #{id,jdbcType=VARCHAR}
	</update>
	
	<update id="updateByPrimaryKey" parameterType="com.fourfaith.sysManage.model.SysUserRole">
		update SysUserRole
		set userId = #{userId,jdbcType=VARCHAR},
		roleId = #{roleId,jdbcType=VARCHAR}
		where Id = #{id,jdbcType=VARCHAR}
	</update>

	<select id="getList" resultMap="BaseResultMap" parameterType="map">
		SELECT * FROM SysUserRole
		where 1=1
		<if test="userId != null">
			AND userId = #{userId,jdbcType=VARCHAR}
		</if>
		<if test="roleId != null">
			AND roleId = #{roleId,jdbcType=VARCHAR}
		</if>
	</select>
	
	<select id="getRoleIdByuserId" resultType="java.lang.String"
		parameterType="java.lang.String">
		SELECT roleId FROM SysUserRole
		where 1=1
		<if test="_parameter != null">
			AND userId = #{_parameter}
		</if>
	</select>

	<select id="getUserRoleId" resultType="java.lang.String"
		parameterType="java.lang.String">
		SELECT id FROM SysUserRole
		where 1=1
		<if test="_parameter != null">
			AND userId = #{_parameter}
		</if>
	</select>

	<delete id="deleteByRoleId" parameterType="java.lang.String">
		delete from
		SysUserRole
		where RoleId = #{roleId,jdbcType=VARCHAR}
	</delete>
	
	<!-- 根据用户Id，查询用户角色关联表的roleId -->
	<select id="findByUserId" parameterType="com.fourfaith.sysManage.model.SysUser"
		resultType="com.fourfaith.sysManage.model.SysUserRole">
		select * from SysUserRole where UserId = #{id}
	</select>
	
</mapper>