<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fourfaith.basicInformation.dao.SysPumpMaterialMapper">
	<resultMap id="BaseResultMap" type="com.fourfaith.basicInformation.model.SysPumpMaterial">
		<id column="Id" property="id" jdbcType="CHAR" />
		<result column="PumpMaterial" property="pumpMaterial" jdbcType="VARCHAR" />
		<result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
		<result column="EditTime" property="editTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<sql id="Base_Column_List">
		Id, PumpMaterial, CreateTime, EditTime
	</sql>
	
	<select id="getCount" resultType="java.lang.Integer" parameterType="map">
		SELECT count(*) FROM SysPumpMaterial
		where 1=1
	</select>

	<select id="getList" resultMap="BaseResultMap" parameterType="map">
		SELECT * FROM SysPumpMaterial
		where 1=1
		order by EditTime desc
		<if test="pageStart!= null and pageEnd!= null">
			limit ${pageStart},${pageEnd}
		</if>
	</select>
	
	<insert id="insertSelective" parameterType="com.fourfaith.basicInformation.model.SysPumpMaterial">
		insert into SysPumpMaterial
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				Id,
			</if>
			<if test="pumpMaterial != null">
				PumpMaterial,
			</if>
			<if test="createTime != null">
				CreateTime,
			</if>
			<if test="editTime != null">
				EditTime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="pumpMaterial != null">
				#{pumpMaterial,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="editTime != null">
				#{editTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from SysPumpMaterial
		where Id = #{id,jdbcType=CHAR}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from SysPumpMaterial
		where Id = #{id,jdbcType=VARCHAR}
	</delete>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.fourfaith.basicInformation.model.SysPumpMaterial">
		update SysPumpMaterial
		<set>
			PumpMaterial = #{pumpMaterial,jdbcType=VARCHAR},
			<if test="editTime != null">
			editTime = #{editTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where Id = #{id,jdbcType=CHAR}
	</update>
	
	<!-- 泵管名新增唯一性校验 -->
	<select id="uniqueAddSelective" parameterType="com.fourfaith.basicInformation.model.SysPumpMaterial" resultType="com.fourfaith.basicInformation.model.SysPumpMaterial">
		select * from SysPumpMaterial where PumpMaterial = #{pumpMaterial}
	</select>
	
	<!-- 甭管名修改唯一性校验 -->
	<select id="uniqueUpdateSelective" parameterType="com.fourfaith.basicInformation.model.SysPumpMaterial" resultType="com.fourfaith.basicInformation.model.SysPumpMaterial">
		select * from SysPumpMaterial where PumpMaterial = #{pumpMaterial} and Id != #{id}
	</select>
	
</mapper>