<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fourfaith.paramterManage.dao.ParamWaterSourcePriceMapper">
	<resultMap id="BaseResultMap" type="com.fourfaith.paramterManage.model.ParamWaterSourcePrice">
		<id column="Id" property="id" jdbcType="CHAR" />
		<result column="DistType" property="distType" jdbcType="INTEGER" />
		<result column="WaterSourcePrice" property="waterSourcePrice" jdbcType="DECIMAL" />
		<result column="InYear" property="inYear" jdbcType="INTEGER" />
		<result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
		<result column="EditTime" property="editTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<!-- 水资源费率列表 -->
	<select id="getList" resultMap="BaseResultMap" parameterType="map">
		select * from ParamWaterSourcePrice where 1=1
		and DistType = #{distType}
		order by EditTime DESC
		<if test="pageStart!= null and pageEnd!= null">
			limit ${pageStart},${pageEnd}
		</if>
	</select>
	
	<!-- 统计水资源费率条数 -->
	<select id="getCount" parameterType="map" resultType="java.lang.Integer">
		select count(*) from ParamWaterSourcePrice where 1=1
		and DistType = #{distTYpe}
	</select>
	
	<!-- 新增水资源费率 -->
	<insert id="add" parameterType="com.fourfaith.paramterManage.model.ParamWaterSourcePrice">
		insert into ParamWaterSourcePrice 
		<trim prefix="(" suffix=")" suffixOverrides=",">
			Id,
			DistType,
			WaterSourcePrice,
			InYear,
			CreateTime,
			EditTime,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{id,jdbcType=VARCHAR},
			#{distType,jdbcType=INTEGER},
			#{waterSourcePrice,jdbcType=DECIMAL},
			#{inYear,jdbcType=TIMESTAMP},
			now(),
			now(),
		</trim>
	</insert>
	
	<!-- 根据ID获取水资源费率信息 -->
	<select id="getWaterSourcePriceById" parameterType="java.lang.String" resultType="com.fourfaith.paramterManage.model.ParamWaterSourcePrice">
		select * from ParamWaterSourcePrice where Id = #{id}
	</select>
	
	<!-- 修改水资源费费率信息 -->
	<update id="editWaterSourcePrice" parameterType="com.fourfaith.paramterManage.model.ParamWaterSourcePrice">
		update ParamWaterSourcePrice
		<set>
			<if test="waterSourcePrice != null">
				WaterSourcePrice = #{waterSourcePrice,jdbcType=DECIMAL},
			</if>
			<if test="inYear != null">
				InYear = #{inYear,jdbcType=INTEGER},
			</if>
			EditTime = now(),
		</set>
		where Id = #{id, jdbcType=CHAR}
	</update>
	
	<!-- 删除水资源费率信息 -->
	<delete id="delete" parameterType="java.lang.String">
		delete from ParamWaterSourcePrice where Id = #{id}
	</delete>
	
	<!-- 获取全部水资源费率信息 -->
	<select id="getAllList" parameterType="map" resultType="com.fourfaith.paramterManage.model.ParamWaterSourcePrice">
		select * from ParamWaterSourcePrice where 1=1 
		<if test="distType!=null">
			and DistType = #{distType}
		</if>
		<if test="inYear!=null">
			and InYear = #{inYear}
		</if>
	</select>
	
</mapper>